.card{
  height:auto;
  width:30%;
  background-color: aqua;
  padding:20px;
  margin-left: 30%;
  border:1px solid black ;
  text-align: center;
}

input{
  width:60%;
  height:20px;
}

.addbutton{
  height: 25px;
  width: 30%;
  font-size: 15px;
}

table{
  width:100%
}